@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

.container {
    width: auto;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 160px;
}

.btn-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-btn ul {
    display: flex;
    justify-content: space-between;
}

.top-btn li {
    list-style: none;
    margin-right: 70px;
}

.top-btn a {
    color: #231E41;
    text-decoration: none;
}

.top-btn a:hover {
    color: #F5C332;
}

.btn-frame {
    width: 100px;
}

.btn-frame img {
    margin-right: 24px;
}

.btn-frame a:hover {
    color: #F5C332;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.sub-title {
    display: inline-block;
    margin-bottom: 30px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 400;
    color: #231E41;
    background-color: #F2F3F5;
}

.sub-title-main {
    font-size: 72px;
    line-height: 100%;
    letter-spacing: -3px;
    margin-bottom: 30px;
}

.main-title {
    max-width: 50%;
    padding-right: 100px;
    color: #231E41;
}

.text-cook ,.text-create {
    background-color: #d8d8d8;
}

.main-title p {
    margin-bottom: 30px;
}

.sb-btn {
    display: flex;
    justify-content: space-between;
}

.sb-btn-1 {
    width: 10rem;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color:#F5C332;
    
}

.sb-btn-1 a {
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
    color: black;
}

.sb-btn-1 a:hover {
    transition: 0.3s ease;
    background-color: #f6e19a;
}

.sb-btn-1 span {
    font-weight: 500;
}

.sb-btn-1 img {
    width: 30px; 
    height: 55px;
}

.sb-btn-2 {
    width: 10rem;
    height: 60px;
    display: flex;
    justify-content: center;
}

.sb-btn-2 a {
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
    color: black;
}

.sb-btn-2 a:hover {
    transition: 0.3s ease;
    background-color: #f1f1f1;
}

.sb-btn-2 span {
    font-weight: 500;
}

.sb-btn-2 img {
    width: 30px;
}

.main-bg {
    max-width: 50%;
    width: 100%;
    padding-right: 18px;
    padding-left: 15px;
}

.bg-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.illustration-1-2-3 {
    position: relative;
    width: 100%;
    float: right;
    padding-bottom: 110%;
}

.illustrations-1, .illustrations-2, .illustrations-3 {
    vertical-align: middle;
    border-style: none;
    width: 60%;
    position: absolute;
}

.pik-1, .pik-2, .pik-3 {
    position: absolute;
    width: 10%;
    opacity: 0.2;
}

.illustrations-1 {
    top: 18%;
    left: -5%;
    animation: anima1 3s infinite ease-in-out;
}

.illustrations-2 {
    top: -2%;
    right: -5%;
    animation: anima1 2s infinite ease-in-out;
}

.illustrations-3 {
    bottom: -3%;
    right: 0;
    animation: anima1 4s infinite ease-in-out;
}

.pik-1 {
    top: 5%;
    left: 25%;
    animation: anima2 3s 2s infinite ease-in-out
}

.pik-2 {
    right: 0;
    bottom: 0;
    animation: anima2 3s 1s infinite ease-in-out
}

.pik-3 {
    left: 22%;
    bottom: 18%;
    animation: anima2 3s infinite ease-in-out
}

@keyframes anima1 {
    0% {
        transform: translateY(0) scale(1);
}
    50% {
        transform: translateY(-5px) scale(1.05);
    }
    0% {
        transform: translateY(0) scale(1);
    }
}    

@keyframes anima2 {
    0% {
        transform: translateY(0) scale(1);
}
    50% {
        transform: translateY(-5px) scale(1.05);
    }
    0% {
        transform: translateY(0) scale(1);
    }
}    